.footer {
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: -20px;
    margin-right: -15px;
    color: black;
    text-align: center;
    margin-top: 435px;
    bottom: 0;
}